#search {
  padding: 15px;
  background-color: #E95420;
  margin-top: -30px;
  margin-bottom: 15px;
}
#search form {

}
#search input {
  padding: 4px;
  height: 35px;
  width: 250px;
  border: 0;
}
#secone {
  padding-top: 70px;
  padding-bottom: 70px;
}
#secone .content {
  font-size: 12px;
  font-weight: 200;
  margin-left: 60px;
  margin-right: 60px;
}
#secone .heading {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#secone i {
  font-size: 150px;
  color: #5E2750;
  padding-bottom: 10px;
}
#sectwo {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #EAE9E7;
  border-top: thin double #AEA79F;
  border-bottom: thin double #AEA79F;
}
#sectwo .heading {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#sectwo i {
  font-size: 150px;
  color: #5E2750;
  padding-bottom: 10px;
}
#sectwo .content {
  font-size: 12px;
  font-weight: 200;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 767px) {
  #sectwo .content {
    font-size: 12px;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
  }
  #secone .content {
    font-size: 12px;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.btn.btn-primary {
  height: 35px;
  border: 0;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron .container {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}
.jumbotron {
  border-radius:0px!important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://static.pexels.com/photos/26549/pexels-photo-26549.jpg");
  position: relative;
  height: 100%;
  margin-bottom: 0;
}
.recent {
  padding: 30px 15px;
  margin-top: 40px;
  background: #fcfcfc;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
}
.single {
padding: 30px 15px;
margin-top: 40px;
background: #fcfcfc;
border: 1px solid #f0f0f0;
border-radius: 0px;
}
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase;
}
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #E95420;
display: block;
margin-top: 6px;
}
.single ul {
margin-bottom: 0;
}
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none;
}
.single li a:hover {
color: #E95420;
}
.single li:last-child a {
border-bottom: 0;
}
